




<h1>Meet our Team</h1>

<div class="photo-container">
  <!-- Team member 1 -->
  <div class="profile">
    <%= image_tag "akrit.jpg", class: "photo" %>
    <div class="caption">
      <h2>Aakrit Jung Shah</h2>
      <p style="text-align: center;">CEO</p>

      <div style="text-align: center;">
        <%= link_to "https://www.instagram.com/aakritjung/", target: "_blank" do %>
          <%= image_tag "instagram-logo.png", alt: "Instagram", width: "30" %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Team member 2 -->
  <div class="profile">
    <%= image_tag "suman.jpg", class: "photo" %>
    <div class="caption">
      <h2>Suman Neupane</h2>
      <p style="text-align: center;">CTO</p>

      <div style="text-align: center;">
        <%= link_to "https://www.instagram.com/sumanneupane_lucky_/", target: "_blank" do %>
          <%= image_tag "instagram-logo.png", alt: "Instagram", width: "30" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
  

<%
=begin%>
  
<%
=end%>


 <div class="profile">
    <%= image_tag "anupp.png", class: "photo" %>
    <div class="caption">
      <h2>Anup Thapa</h2>
      <p style="text-align: center;">Administrative Head</p>

      <div style="text-align: center;">
        <%= link_to "https://msng.link/o?anup thapa=ig", target: "_blank" do %>
          <%= image_tag "instagram-logo.png", alt: "Instagram", width: "30" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
